<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <servlet>
    <description></description>
    <display-name>ServletsExmp</display-name>
    <servlet-name>ServletsExmp</servlet-name>
    <servlet-class>Myservlet.ServletsExmp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletsExmp</servlet-name>
    <url-pattern>/ServletsExmp</url-pattern>
  </servlet-mapping>
  <display-name>JFSWebproject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>productDisplaypage</display-name>
    <servlet-name>productDisplaypage</servlet-name>
    <servlet-class>productDisplaypage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>productDisplaypage</servlet-name>
    <url-pattern>/productDisplaypage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletLifeCycle</display-name>
    <servlet-name>ServletLifeCycle</servlet-name>
    <servlet-class>ServletLifeCycle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletLifeCycle</servlet-name>
    <url-pattern>/ServletLifeCycle</url-pattern>
  </servlet-mapping>
</web-app>